body {
    font-family: iranyekan-en, sans-serif;
    font-size: 16px;
    color: #333;
    background: #fff;

}

.section-2 {
    background: url("../images/bg.svg") right bottom no-repeat;
}

.section-2 .caption h2 {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}


.section-2 .link a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
}

.section-2 .card:hover a {
    /*color: #114bed;*/
}

.section-3 {
    color: #fff;
    background-color: #1eb690;
    background-image: linear-gradient(to bottom right, #1eb690, #114bed);
}

.section-3 h3 {
    color: #fff;
    font-size: 1.2rem;
    line-height: 28px;
    font-weight: bold;
    margin: 1rem 0;
}

.section-3 p {
    font-size: 1rem;
    line-height: 26px;
}

/**/
.shafa-services .caption h2 {
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
}

.shafa-services .box h3 {
    color: #333;
    font-size: 1.2rem;
    line-height: 28px;
    font-weight: bold;
    margin: 1rem 0;

}

.shafa-services .box p {
    font-size: 0.8rem;
    color: #666;

}