body {
    font-family: iranyekan-fa, sans-serif;
    font-size: 16px;
    color: #686868;
    background: #fff;
    font-weight: normal;
}
.caption h2 {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}