body {
    font-family: iranyekan-en, sans-serif;
    font-size: 16px;
    color: #333;
    background: #fff;

}

/********** CUSTOM **********/
p {
    color: #666;
    font-size: 14px;
    line-height: 26px;
}

h1 {

}

h2 {

    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;

}

/********** POPULAR TREATMENTS **********/

.popular-treatments {
    background: url("../images/bg.svg") right bottom no-repeat;
}


.popular-treatments .card .link a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
}

.popular-treatments .card:hover a {
    /*color: #114bed;*/
}

/********** VIDEO TRIP TO IRAN **********/
.video-trip-to-iran {
    color: #fff;
    background-color: #1eb690;
    background-image: linear-gradient(to bottom right, #1eb690, #114bed);
}

.video-trip-to-iran p {
    color: #fff;
}

/********** Services **********/
.shafa-services .caption h2 {
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
}

.shafa-services .box h3 {
    color: #333;
    font-size: 1.2rem;
    line-height: 28px;
    font-weight: bold;
    margin: 1rem 0;

}

.shafa-services .box p {


}

/********** Top Tour **********/
.top-tour {
    background: #F7F7F7;
}


.top-tour .caption h2 {

}

.top-tour h3 {


}